/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

@font-face {
  font-family: paskowsky;
  src: url('Paskowy.ttf');
}

@font-face {
  font-family: ledlight;
  src: url('LEDLIGHT.otf');
}

@font-face {
  font-family: receipt;
  src: url('Fake\ Receipt.otf');
}

body {
  background-color: white;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

header {
  text-align: center;
  color: #2a2a2a;
  background-color: #e7e7e7;
  margin: 0 auto;
  font-family: 'ledlight';
  font-size: 26pt;
}

header h1 {
  margin: 0 5%;
}

header, .thoughts {
  max-width: 600px;
}

nav {
  font-family: 'paskowsky';
  font-size: 24pt;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  border-color: black;
  border-style: double;
  margin: 0 auto;
  padding-left: 0;
}

nav li {
  flex: 1;
}

main {
  display: flex;
}

.centre-content {
  background-image: url('../images/textures/corkboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 30px;
  border-style: solid;
  border-color: #5b9ee7;
  border-image: url('../images/textures/blue-plywood.jpg');
  border-image-repeat: round;
  border-image-slice: 30;
  box-shadow: inset 0px 0px 40px #060403, inset -1px -2px 2px #060403, 0px 0px 60px #0f0f0f;
  margin: 0 2em;
  padding:20px;
  width:60%;
  position: relative;
  float: left;
}

main {
  margin-top: 1em;
}

.note {
  max-width: 340px;
  background-color: #ffffff;
  font-family: 'receipt';
  font-size: 10pt;
  text-align: center;
  position: relative;
  transform: rotate(1deg);
  padding-bottom: 2em;
}

#recentpostlistdiv ul {
  list-style: none;
  padding-left: 0px;
}

#recentpostlistdiv h2 {
  font-size: 15pt;
  margin: 0px;
}

.post-title, .service-details {
  text-align: left;
}

#recentpostlistdiv hr {
  margin-top: 0px;
}

.pin {
  position: absolute;
  top: -1em;
  left: -0.5em;
  width: 30px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin: 0.5em;
}

.card-heading-recent {
  padding: 1em 0px 2em 0px;
}

.moreposts {
  text-align: center;
  font-family: 'paskowsky';
  font-size: 28pt;
}

.post-title-container {
  display: flex;
  padding: 0px 3em 1em 3em;
}

.post-title-container.headings{
  font-weight: bolder;
}

.post-title,  .served-by {
  padding-right: 40px;
  margin-right: auto;
}

#matchbox {
  position: absolute;
  bottom: 1px;
  right: 5px;
  height: 70px;
}

#window-seat {
  position: absolute;
  top: 32px;
  right: 20px;
  height: 250px;
}

#window-seat:hover {
  transform: rotate(5deg);
}

.badges img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
}

#thoughts:hover {
  transform: rotate(5deg);
}

.thoughts {
  min-width: 600px;
  margin: 0 auto;
  font-weight: bold;
  color: lavenderblush;
}

.thoughts-entry {
  color: white;
  display: flex;
}

.thoughts-entry.content {
  font-weight: normal;
  background-color:hsla(0, 0%, 0%, 0.572);
  border-color: #aa75ff;
  border-width: 2px;
  border-style: outset;
}

.thoughts-entry p {
  margin: 0.5em 0;
}

.thoughts-entry > .date {
  margin-right: 1em;
  min-width: 80px;
}

.homelink {
  background-color: lavender;
  color: indigo;
  padding: 0.4em 0.7em;
}

.pet {
  position: absolute;
  top: 20px;
  right: 70px;
}

.pet > span {
  visibility: hidden;
  padding: 0.25em 0.5em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.25em;
  white-space: nowrap;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -50px;
  transition-property: visibility;
  transition-delay: 0s;
}

.pet:hover > span {
  visibility: visible;
  transition-delay: 0.3s;
}