@font-face {
    font-family: hattenschweiler;
    src: url('../../style/HATTEN.TTF');
  }

#content img {
    max-width: 80%;
}

.image-caption {
    border-style: double;
    border-color: purple;
}

h1 {
    font-family: 'hattenschweiler';
}